/*适配手机屏幕宽度<=330px的手机*/
@media screen and (max-width:330px) {
    #judge2>:first-child{
        width: 300px;
    }

    #positioner{
        display: none;
    }
    .changeButton{
        width : 14px;
        height : 14px;
    }
    .questionChoice th,td{
        width : 55px;
        padding : 15px 0 15px 0;
    }

    .chip{
        width : 80%;
    }
    #nav-mobile4 {
        width : 100px;
        height: 56px;
        padding-right: 0;
        float: right;
    }
    .light-green.darken-1{
        width: 100vw;
    }
    #nav-mobile4>:first-child{
        width : 50px;
        height: 56px;
        padding-right: 0;
        margin-left: 10px;
    }
    #nav-mobile4>:last-child{
        margin-left: 10px;
    }
    #loginli{
        width: 35px;
    }
    .e1{
        right: 0;
        margin-left: 10px;
    }
    .btn {
        width : 30px;
        padding : 0;
    }
    #examheader{
        padding: 0;
        width : 30px;
        float: right;
    }

    .white-img {
        width : 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding : 0 0 0 0;
    }
    #myIcon{
        display: none;
    }
    .dropdown-button{
        width: 50px;
        padding-left: 2px;
        padding-right: 0;
    }
    .chip i.material-icons {
        cursor: pointer;
        float: left;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }
}

/*适配手机屏幕宽度>=331px<=350px的手机*/
@media screen and (min-width:331px) and (max-width:350px) {
    #judge2>:first-child{
        width: 300px;
    }
    #positioner{
        display: none;
    }
    .changeButton{
        width : 15px;
        height : 15px;
    }
    .questionChoice th,td{
        width : 55px;
        padding : 15px 0 15px 0;
    }

    .chip{
        width : 80%;
    }
    #nav-mobile4 {
        width : 100px;
        height: 56px;
        padding-right: 0;
        float: right;
    }
    #nav-mobile4>:first-child{
        width : 50px;
        height: 56px;
        padding-right: 0;
        margin-left: 10px;
    }
    #nav-mobile4>:last-child{
        margin-left: 10px;
    }
    .light-green.darken-1{
        width: 100vw;
    }
    #loginli{
        width: 35px;
    }
    .e1{
        right: 0;
        margin-left: 10px;
    }
    .btn {
        width : 30px;
        padding : 0;
    }
    #examheader{
        padding: 0;
        width : 30px;
        float: right;
    }

    .white-img {
        width : 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding : 0 0 0 0;
    }
    #myIcon{
        display: none;
    }
    .dropdown-button{
        width: 50px;
        padding-left: 2px;
        padding-right: 0;
    }
    .chip i.material-icons {
        cursor: pointer;
        float: left;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }
}

/*适配手机屏幕宽度>=351px<=365px的手机*/
@media screen and (min-width:351px) and (max-width:365px) {
    #judge2>:first-child{
        width: 300px;
    }
    #positioner{
        display: none;
    }
    .changeButton{
        width : 15px;
        height : 15px;
    }

    .questionChoice th,td{
        width : 55px;
        padding : 15px 0 15px 0;
    }
    .chip{
        width : 80%;
    }
    #nav-mobile4 {
        width : 100px;
        height: 56px;
        padding-right: 0;
        float: right;
    }
    .light-green.darken-1{
        width: 100vw;
    }
    #nav-mobile4>:first-child{
        width : 50px;
        height: 56px;
        padding-right: 0;
        margin-left: 5px;
    }
    #nav-mobile4>:last-child{
        margin-left: 15px;
    }
    #loginli{
        width: 35px;
    }
    .e1{
        right: 0;
        margin-left: 10px;
    }
    .btn {
        width : 30px;
        padding : 0;
    }
    #examheader{
        padding: 0;
        width : 30px;
        float: right;
    }

    .white-img {
        width : 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding : 0 0 0 0;
    }
    #myIcon{
        display: none;
    }
    .dropdown-button{
        width: 50px;
        padding-left: 2px;
        padding-right: 0;
    }
    .chip i.material-icons {
        cursor: pointer;
        float: left;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }
}

/*适配手机屏幕宽度>=365px<=400px的手机*/
@media screen and (min-width:365px) and (max-width: 400px)  {
    #judge2>:first-child{
        width: 300px;
    }
    #positioner{
        display: none;
    }
    .changeButton{
        width : 15px;
        height : 15px;
    }
    .questionChoice th,td{
        width : 62px;
        padding : 15px 0 15px 0;
    }
    .chip{
        width : 80%;
    }
    #nav-mobile4 {
        width : 100px;
        height: 56px;
        padding-right: 0;
        float: right;
    }
    .light-green.darken-1{
        width: 100vw;
    }
    #nav-mobile4>:first-child{
        width : 50px;
        height: 56px;
        padding-right: 0;
        margin-left: 5px;
    }
    #nav-mobile4>:last-child{
        margin-left: 15px;
    }
    #loginli{
        width: 35px;
    }
    .e1{
        right: 0;
        margin-left: 10px;
    }
    .btn {
        width : 30px;
        padding : 0;
    }
    #examheader{
        padding: 0;
        width : 30px;
        float: right;
    }

    .white-img {
        width : 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding : 0 0 0 0;
    }
    #myIcon{
        display: none;
    }
    .dropdown-button{
        width: 50px;
        padding-left: 2px;
        padding-right: 0;
    }
    .chip i.material-icons {
        cursor: pointer;
        float: left;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

}

/*适配手机屏幕宽度>=400px的手机*/
@media screen and (min-width:400px) and (max-width: 567px) {
    .choicetd1{
        width : 40px;
    }

    #judge2>:first-child{
        width: 300px;
    }

    #positioner{
        display: none;
    }
    .changeButton{
        width : 17px;
        height : 17px;
    }
    .questionChoice th,td{
        width : 65px;
        padding : 15px 0 15px 0;
    }
    .chip{
        width : 80%;
    }
    #nav-mobile4 {
        width : 100px;
        height: 56px;
        padding-right: 0;
        float: right;
    }
    #nav-mobile4>:first-child{
        width : 50px;
        height: 56px;
        padding-right: 0;
        margin-left: 5px;
    }
    .light-green.darken-1{
        width: 100vw;
    }
    #nav-mobile4>:last-child{
        margin-left: 15px;
    }
    #loginbtn{
        margin-top: 10px;
    }
    #loginli{
        width: 35px;
    }
    .e1{
        right: 0;
        margin-left: 10px;
    }
    .btn {
        width : 30px;
        padding : 0;
    }

    #examheader{
        padding: 0;
        width : 30px;
        float: right;
    }

    .white-img {
        width : 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding : 0 0 0 0;
    }
    #myIcon{
        display: none;
    }
    .dropdown-button{
        width: 50px;
        padding-left: 2px;
        padding-right: 0;
    }
    .chip i.material-icons {
        cursor: pointer;
        float: left;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    .modal-trigger{
        margin: 10px 0 10px 0 ;
    }
}